body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.member{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  /* padding-bottom: 5px; */
  padding: 5px;
  border: 1px solid black;
  align-items: center;
  cursor: pointer;
  &:hover{
    background-color: lightgrey;
  }
}
.btn1{
  background-color: white;
}
.btn2{
  background-color: red;
  color: white;
}
